body {
  font-family: 'Roboto', sans-serif;
  font-size: larger;
  background-color: rgb(24, 49, 72);
  color: #E7E8EB;
  height: 100%;
  min-height: 100%;
  font-weight: 200;
  overflow: scroll;
 }

html {
  height: 100%;
  scroll-behavior: smooth;
}
section.projects{
  /* background: url("/images/whaleb.png") no-repeat fixed ; */
  /* background-size: 1300px 950px */
 }
.title * {
  font-weight: 200;
  text-shadow: 0px 0px 50px white;
  text-align: center;
  /* filter: blur(2px); */
  /* -webkit-filter: drop-shadow(0px 0px 400px 200px white); */
}

h2, h3, h4, h5, h6, h7 {
  font-weight: 200;
}

.title {
  top: 10%;
  position: relative;
  width: fit-content;
  margin: auto;
  text-align: center;
  left: 0;
}

.title h1 {
  font-size: 70pt;
}

/* .title h1, .title h4 {
  box-shadow: 0px 0px 100px 20px rgba(255, 255, 255, 0.5);
  width: fit-content;
} */

.scrolldown {
  bottom: 15px;
  position: absolute;
  display: block;
  margin: auto;
  width: 100%;
  font-size: 40pt;
  /* font-weight: 200; */
}

.card-body {
  color: rgb(24, 49, 72);
}

.collab-btn {
  margin-top: 100px;
  font-size: 20px;
  border-radius: 10px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  border: 0;
  color: whitesmoke;
  box-shadow: 0px 0px 100px 20px rgba(255, 255, 255, 0.5);
  z-index: 50;
  position: relative;
  text-transform: uppercase;
}

#root, .App {
  min-height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 70px;
}

.headerBG, .home-header .headerShadow, .intro-header {
  
  height: 100vh;
  min-height: 720px;
 
  background-image: linear-gradient(135deg, #f5f7fad7 0%, #35649b 50%);
}

.homeContent, .pageFooter {
  background-color: rgb(36, 89, 139);
}

.pageFooter {
  display: flex;
    justify-content: space-between;
    align-items: center;

  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

/* .headerBG:before, .headerBG:after {
  content: "";
  position: fixed;
  height: 100%;
  width: 100%;
}
  */
.home-header .headerShadow {
  /* min-width: 1000vh;
  max-width: 1000vh; */
  width: 100%;
  position: absolute;
  display: block;
  background-color: rgba(53, 160, 202, 0.986);
  background: url("/images/header.png") no-repeat fixed center;
  box-shadow: 0 0 80px 20px rgb(238, 238, 240) inset;
  background-size: 1300px 950px;;
  opacity: 0.5;
  text-shadow: 0 0 25px rgb(19, 66, 119)
  /* backgroun: linear-gradient(0deg, rgba(24, 49, 72, 1) 0%, rgba(24, 49, 72, 0.95) 5%, rgba(24, 49, 72, 0.7) 15%, rgba(24, 49, 72, 0.2) 30%, rgba(24, 49, 72, 0) 50%); */
}
.roadMap.p{
  font-size: 20px;
  font-weight: 300;
  text-align: center;
   padding-bottom: 50px;
  margin-bottom: 0;
   text-shadow: 0 0 25px rgb(19, 66, 119);
;
}
.pageTitle.roadMap{
/* padding: 100px 0px 20px 0 ; */
 
}
.headerBG {
  width: 100%;
  z-index: -1;
  position: absolute;
}

.home {
  top: 0;
  position: relative;
}

.home::before {
  display: block;
  content: '';
  /* height: 70px; */
  /* or whatever */
}

.home-header {
  top: 0px;
}

.intro-header {
  padding: 0px;
  position: relative;
}

.about-header {
  height: 500px;
}

.App-title {
  font-size: 2.5em;
}

.App-intro {
  font-size: large;
}

.block {
  width: 130px;
  margin: 0 auto;
  display: block;
}

.collab-btn:hover, .collab-btn:hover::before {
  text-decoration: none;
  transform: scale(1.1);
  box-shadow: 0 0 15px rgb(19, 66, 119);
}

.collab-btn:hover {
  color: white;
}

.btn:focus {
  box-shadow: inherit;
  box-shadow: 0px 0px 100px 20px rgba(255, 255, 255, 0.5);
}

.services {
  margin-top: 100px;
}

header {
  padding-bottom: 50px;
  background-size: cover;
  text-align: center;
}

.about, .contact {
  padding: 150px 0;
}

nav ul, .contact ul {
  list-style: none;
}

nav ul, .contact ul {
  list-style: none;
}
.col.float-right {
    padding-top: 5px;
}
nav.nav {
  text-align: center;
  right: 0;
  padding-right: 30px;
  height: 80px;
  color: white;
  flex-direction: row-reverse;
  position: fixed;
  width: 100%;

  /* background-color: rgb(24, 49, 72); */
   background: linear-gradient(
    to right,
    #b6c3d1cc,
    #35659bb9
  );
  /* border-bottom: 1px dotted rgba(255, 255, 255, 0.5); */
  z-index: 100;
  display: block;
}

nav .col {
  width: 100%;
  width: auto;
  /* float: right; */
}

nav .row {
  display: block;
}

nav .row .col {
  height: 100%;
}

nav a {
  position: center;
  width: 100%;
  height: 70px;
  /* height: 30px; */
  /* display: inline-block; */
  line-height: 70px;
  font-size: 20px;
  vertical-align: middle;
  /* border-bottom: 1px  #5bc0eb; */
  padding-bottom: 1px;
  /* text-decoration-line: underline; */
  /* text-decoration-style: wavy;
  text-decoration-color: rgb(78, 166, 238); */
}

a {
  box-shadow: white;
  color: white;

}

a:hover {
  color: rgb(34, 76, 110);
  /* text-decoration-line: underline;
  text-decoration-style: wavy; */
  /* text-decoration-color: rgb(78, 166, 238);
   */
}

footer {
  margin-top: 30px;
  padding-bottom: 20px;
  text-align: center;
}

.homePageSection {
  padding-top: 100px;
  z-index: 2;
    background-image: linear-gradient(135deg, #f5f7fad7 0%, #21446d 50%);
    box-shadow: 0 0 300px 0px rgba(13, 84, 165, 0.842) inset;
    
}


.homePageSection h1, h2, h3, h4, h5, p {
  position: relative;
}

.resume {
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  margin: auto;
}

.resume .carousel {
  position: relative;
}

.contacts {
  text-align: center;
  padding: 50px 100px 0 100px;
}

.contacts a {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

section.contactsList a:hover, .btn a:hover {
  color: yellow;
  box-shadow: 0 0 0 yellow;
  text-shadow: 0 0 5px black;
}

h2 {
  /* font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif; */
  font-size: 40pt;
  padding-bottom: 25px;
}

h3 {
  font-size: 25pt;
  padding-bottom: 25px;
}

.titleName {
  text-align: left;
  color: #6DC0D9;
}

.aboutmeWrapper {
  text-align: center;
  padding-bottom: 50px;
  background-color: teal;  
  /* background: url("/images/whale3.png") no-repeat fixed ; */
  /* background-attachment: local, scroll; */
  /* background: linear-gradient(0deg, rgb(24, 49, 72) 50%, rgba(24, 49, 72, 0.88) 80%, rgba(24, 49, 72, 0.7) 85%, rgba(0, 0, 0, 0) 100%); */
}
 

p.aboutme{
 text-shadow: 0 10px 20px rgb(206, 182, 182);
 font-size: 300;
 /* background: black; */
}
.aboutProfilePic {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  margin-top: 10px;
  vertical-align: middle;
  display: inline-block;
}

.aboutProfilePicWrapper {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: auto;
  background-color: hsl(209, 50%, 80%);
  background-color: #E7E8EB;
  box-shadow: 0 0px 10px hsl(209, 50%, 80%);
  vertical-align: middle;
  margin-bottom: 70px;
  position: relative;
}

.pageTitle {
  position: relative;
  text-align: center;
  font-size: 45pt;
}

.aboutmeSection {
  max-width: 1440px;
  padding-left: 50px;
  padding-right: 50px;
  /* padding-top: 100px; */
  margin: auto;
  text-align: center;
  text-shadow: 10px 20px 30px white;
}

strong {
  color: hsl(209, 50%, 50%);
}

.aboutme {
  padding-bottom: 50px;
  margin-bottom: 0;
  text-align: left;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.projBGBG {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  /* height: 100%; */
  width: 100%;
  z-index: 0;
}

.projBGShadow {
  /* background: linear-gradient(0deg, rgba(0, 0, 0, 0) 50%, rgba(24, 49, 72, 0.7) 85%, rgba(24, 49, 72, 0.88) 91%, rgba(24, 49, 72, 1) 99%), linear-gradient(0deg, rgba(24, 49, 72, 1) 5%, rgba(0, 0, 0, 0) 20%); */
  display: block;
  height: 100%;
  z-index: 1;
}

.projBG {
  width: 100%;
  opacity: 0;
  z-index: -10;
}

.copyright {
  font-size: 8pt;
  text-align: center;
}

.title * {
  font-weight: 200;
  text-shadow: 0px 0px 30px black;
  text-align: center;
/*  
  filter: blur(2px);
  -webkit-filter: drop-shadow(0px 0px 400px 200px white); */
}

.carousel-inner .carousel-item {
  transition: -webkit-transform 12s ease;
  transition: transform 6s, -webkit-transform 1s ease;
}

.carousel-inner {
  padding: 0;
  width: 60%;
  max-width: 1440px;
  min-width: 720px;
  margin: auto;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  width: 50px;
  height: 50px;
}

.carousel-indicators {
  position: relative;
}

/* 
.top {
  z-index: 10;
  position: relative;
} */

 @import url('https://fonts.googleapis.com/css?family=Lato');

* {
	box-sizing: border-box;
}

body {
	/* background-image: linear-gradient(135deg, #f5f7fad7 0%, #35649b 50%); */
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 100vh;
 	margin: 0;
}

h1 {
	text-align: center;
}
.projectsWrapper.homePageSection.roadmap.container{
   
 border-radius:20px;
 color:#fff;
 /* text-align:center; */
 line-height:50px;
 box-shadow:
 20px 5px 40px #77a9f3,
  0px 5px 40px #009BFF,
  -20px 5px 40px #77a9f3,;
  background-image: linear-gradient(-90deg, #CF77F3 0%, #009BFF 47%, #2AC9DB 100%);
  background:linear-gradient(to top, #2c3e50, #2980b9)
}
 div#timeline{
    padding-bottom: 100px;
    margin: 0;
    background: url('/images/whaleflip.png') no-repeat fixed;
     
 }

.timeline-container {
   background: linear-gradient(to top, #2c3e50, #2980b9);
    margin: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 40px 0;
    background: #2980b9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #2c3e50, #2980b9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #2c3e50, #2980b9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.timeline-container::after {
  background-image: linear-gradient(#2c3e50,#2980b9 );
    content: '';
    position: absolute;
    left: calc(50% - 2px);
    width: 2px;
    height: 100%;
 }

.timeline-item {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    position: relative;
    margin: 10px 0;
    width: 50%;
}

.timeline-item:nth-child(odd) {
    align-self: flex-end;
    justify-content: flex-start;
    padding-left: 30px;
    padding-right: 0;
}

.timeline-item-content {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    /* border-radius: 5px; */
    /* background-color: #fff; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 15px;
    position: relative;
    width: 400px;
    max-width: 70%;
    text-align: right;
    font-weight: 300;
}

.timeline-item-content::after {
    content: ' ';
    background-color: #fff;
    box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
    position: absolute;
    right: -7.5px;
    top: calc(50% - 7.5px);
    transform: rotate(90deg);
    width: 1px;
    height: 15px;
}

.timeline-item:nth-child(odd) .timeline-item-content {
    text-align: left;
    align-items: flex-start;
}

.timeline-item:nth-child(odd) .timeline-item-content::after {
    right: auto;
    left: -7.5px;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
}

.timeline-item-content .tag {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    top: 5px;
    left: 5px;
    letter-spacing: 1px;
    padding: 5px;
    position: absolute;
    text-transform: uppercase;
}

.timeline-item:nth-child(odd) .timeline-item-content .tag {
    left: auto;
    right: 5px;
}

.timeline-item-content time {
    color: #c2ae3c;
    font-size: 14px;
    font-weight: bold;
}

.timeline-item-content p {
    font-size: 16px;
    line-height: 24px;
    margin:  0;
    max-width: 250px;
}

.timeline-item-content a {
	color: #333;
	text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.timeline-item-content a::after {
    content: ' ►';
    font-size: 12px;
}

.timeline-item-content .circle {
  content: '';
    background-color: #fff;
    border: 3px solid rgb(35, 162, 221);
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 10px);
    right: -40px;
    width: 20px;
    height: 20px;
    z-index: 100;
}

.timeline-item:nth-child(odd) .timeline-item-content .circle {
    right: auto;
    left: -40px;
}

@media only screen and (max-width: 1023px) {
    .timeline-item-content {
        max-width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .timeline-item-content,
    .timeline-item:nth-child(odd) .timeline-item-content {
        padding: 15px 10px;
        text-align: center;
        align-items: center;
    }

    .timeline-item-content .tag {
        width: calc(100% - 10px);
        text-align: center;
    }

    .timeline-item-content time {
        margin-top: 20px;
    }

    .timeline-item-content a {
        text-decoration: underline;
    }

    .timeline-item-content a::after {
        display: none;
    }
}
/* @media (min-width: 641px){
  .timeline-header {
    padding-bottom: 80px;
  } 
} */
.timeline-header {
  text-align: center;
  padding: 80px;
  margin: 80px;


} 
 /* .aboutmeBg{
  background:black;

 } */
.aboutmeWrapper{
  background: url("/images//whale1.png") no-repeat fixed center top;
 
     background-size: 1000px 800px;
 }

 .textbackground{
  background-image:'black';
   
  /* opacity: 50; */
  /* background-attachment: local, scroll; */
 }
 div#about {
    background-attachment: local, scroll;
}

///////
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

footer{
  margin-top: 30px;
  /* padding-bottom: 20px; */
  text-align: center
}
  
p.copyright-text{
  padding-top: 12px;
  font-size: 16px;
  flex:absolute;
}